<!DOCTYPE html>
<html>
<head>
<title></title>

<style>
body{margin:0px;background-color:#d8d8d8}
.mail-row{background-color:#d8d8d8}/*position: absolute;left: 50%;top: 0;transform: translate(-50%);*/
.mail-offset{display: block;margin:0 auto;width: 54%;height: 50%;padding-top: 30px;padding-bottom: 30px;}
.mail-wrapper-bg {background:#FFF;padding: 40px 60px;margin-top: 30px;margin-bottom: 10px;border-radius: 5px;border: 1px solid #d8d8d8;}
.mail-wrapper-bg .mail-form h4 {font-size: 24px;font-weight: bold;color: #424c5f;margin-bottom: 14px;}
.mail-wrapper-bg .mail-form label {font-size: 14px;color: #acb0b8;margin-bottom: 20px;}
.mail-wrapper-bg .mail-form .form-group label.mail-des {color: #4d4d4d;line-height: 2;font-size: 14px;display: block;margin: 30px 0px;}
.mail-wrapper-bg div.mail-form button.btn.ficha-btn.mail-btn {position:relative;padding-left: 30px;padding-right: 30px;padding-top: 6px;padding-bottom: 6px;display: block;margin: 0px auto;color: #fff;background-color: #FF7C00;border-color: #FF7C00;border-radius: 4px;-webkit-border-radius: 4px;font-family: Open Sans Semibold;font-size: 14px;border: 0 none;outline: 0 none;transition: 0.3s;line-height: 2;}
.mail-wrapper-bg div.mail-form button.btn.ficha-btn.mail-btn i.material-icons {position: absolute;right: 0;top: 0;font-size: 18px;padding: 11px;}
.mail-wrapper-bg .mail-bg-logo img {display: block;margin: auto;padding-top: 20px;}
.mail-social-icon ul li {display: inline-block;padding: 0px 0px;}
.mail-social-icon ul li:last-child{margin:0 0 0 5px}
.mail-social-icon ul li img{height:30px;}
.mail-wrapper-bg div.mail-form button.btn.ficha-btn.mail-btn img {padding: 6px 2px;vertical-align: middle;height: 20px;}
/*position:absolute;top:0;right:0;height:20px;padding:10px 24px;*/
</style> 
</head>
<body>
<div class="mail-row">
        <div class="mail-offset">
            <div class="mail-wrapper-bg">
            <div class="mail-logo">
               <img src="http://dev.fichapp.co/images/logo1.png">
            </div>
                <div class="mail-form">
                    <div class="form-group">
                        <label ></label>
                    </div>
                    <div class="form-group">
                        <h3>Hi name,</h3>
                        
                    </div>
                    <div class="form-group">

                        <label class="mail-des">You recently requested to reset your password for your Ficha account. Use the button below to reset it. This password reset link is only valid for the next 24 hours.
                        </label>
                        
                    </div>
                        <a href="action_url" >
                            <button class="btn ficha-btn mail-btn">Reset your password<img src="http://dev.fichapp.co/images/mail-btn-arrow.png"></button>
                        </a>
                </div>
                <div class="mail-bg-logo">
                <img src="http://dev.fichapp.co/images/mail-img-welcome.png">
                </div>
         </div>
          <div class="mail-social-icon">
             <ul>
                <li>  <img src="http://dev.fichapp.co/images/twitter-icon.png"></li>
                  <li>  <img src="http://dev.fichapp.co/images/in-icon.png"></li>
                   <li>  <img src="http://dev.fichapp.co/images/facebook-icon.png"></li>
             </ul>
         </div>
        </div>
</div> 

</body>
</html>